[submodule "submodules/rdtool"]
	path = submodules/rdtool
	url = https://github.com/uwabami/rdtool.git
	branch = gh-pages
[submodule "submodules/locale-eaw-emoji"]
	path = submodules/locale-eaw-emoji
	url = https://github.com/uwabami/locale-eaw-emoji
	branch = gh-pages
[submodule "submodules/rail"]
	path = submodules/rail
	url = https://github.com/uwabami/rail.git
	branch = gh-pages
[submodule "submodules/tdiary-style-org"]
	path = submodules/tdiary-style-org
	url = https://github.com/uwabami/tdiary-style-org.git
	branch = gh-pages
