[submodule "darkpastel-theme"]
	path = darkpastel-theme
	url = git@github.com:uwabami/darkpastel-theme.git
[submodule "rail"]
	path = rail
	url = git@github.com:uwabami/rail.git
[submodule "beamerthemeKansaiDebianMeeting"]
	path = beamerthemeKansaiDebianMeeting
	url = git@github.com:uwabami/beamerthemeKansaiDebianMeeting.git
[submodule "rdtool"]
	path = rdtool
	url = git@github.com:uwabami/rdtool.git
