<ul class="breadcrumb">
{% strip %}
{% assign crumbs = page.url | split:'/' %}
{% assign crumbs_num = crumbs | size %}
{% if page.lang != "ja" %}
<li><a href="{{ "/index.html.en#" | prepend: site.baseurl }}">Top</a> </li>
{% else %}
<li><a href="{{ "/index.html.ja#" | prepend: site.baseurl }}">Top</a> </li>
{% endif %}
{% assign link = "" %}
{% for crumb in crumbs offset:1 %}
{% unless forloop.first %}
  {% capture link %}{{ link }}/{{ crumb }}{% endcapture %}
{% else %}
  {% capture link %}{{ link }}{{ crumb }}{% endcapture %}
{% endunless %}
{% unless forloop.last %}
{% if page.lang != "ja" %}
<li>
  <a href="{{"/index.html.en" |prepend: link |prepend: site.baseurl}}">{{ crumb }}</a>
</li>
{% else %}
<li>
  <a href="{{"/index.html.ja" |prepend: link |prepend: site.baseurl}}">{{ crumb }}</a>
</li>
{% endif %}
{% endunless %}
{% endfor %}
{% endstrip %}
</ul>
