  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    {% strip %}
    {% capture url %}{{ page.url | replace: '.html','' | replace: '-en','' | strip_newlines | remove:' '}}{% endcapture %}
    {% if url == '/index' %}
    <title>{{ site.title }}</title>
    <meta name="google-site-verification" content="eV6ftpub4rGjPL3tC-7VZq3pj2igU4ZJU1Ei_3aYuZE">{% else %}
    <title>{{ site.title }}: {{ page.title }}</title>
    {% endif %}
    {% endstrip %}
    <link rel="stylesheet" href="{{ "/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}" >
    <link rel="stylesheet" href="{{ "/bootstrap/css/bootstrap-theme.min.css" | prepend: site.baseurl }}" >
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" >
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ "/js/html5shiv.min.js" | prepend: site.baseurl }}"></script>
      <script src="{{ "/js/respond.min.js" | prepend: site.baseurl }}"></script>
    <![endif]-->
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl }}">
  </head>
