<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/{{ site.index[page.lang] }}">{{ site.title[page.lang] }}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% assign pages=site.pages | where:"lang", page.lang %}
        {% if page.lang =="ja" %}
        <li><a class="page-link" href="{{ "/research/index.html" | prepend: site.base.url }}">Research</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Software<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ "/github/index.html" | prepend: site.base.url }}">Github</a></li>
            <li><a href="{{ "/cc-env/index.html" | prepend: site.base.url }}">Computer Memo</a></li>
          </ul>
        </li>
        <li><a class="page-link" href="http://uwabami.junkhub.org/log" target="_blank">Blog</a></li>
        {% else %}
        <li><a class="page-link" href="{{ "/research/index.en.html" | prepend: site.base.url }}">Research</a></li>
        <li><a href="{{ "/github/index.en.html" | prepend: site.base.url }}">Software</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for this_page in pages %}
          {% unless this_page.lang == page.lang %}
            {% if page.lang == "en" %}
          <li><a href="{{ this_page.url | prepend: site.baseurl }}" >日本語</a></li>
            {% else %}
          <li><a href="{{ this_page.url | prepend: site.baseurl }}" >English</a></li>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
