/* Sticky footer styles
-------------------------------------------------- */
body {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAACUFjqAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfbBhwTDDqAejMsAAAAB3RJTUUH2wYeEi8EgXgYKgAAAAlwSFlzAAAOdAAADnQBaySz1gAAABxJREFUeNpj/PLxFwNuwALEbJw4pZkY8IJhKw0AlAcDBIeyUC8AAAAASUVORK5CYII=);
}
.page-header {
    padding-top: 15px !important;
    background-color: #f5f5f5;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 0 1px 2px #ccc;
       -moz-box-shadow: 0 1px 2px #ccc;
            box-shadow: 0 1px 2px #ccc;
}
.container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar > .container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.footer {
    background-color: #2c3e50;
    color: #ecf0f1;
}
footer p {
    text-align: right;
}
.content {
    background-color: #fff;
    padding: 0px 15px;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 0 1px 2px #ccc;
       -moz-box-shadow: 0 1px 2px #ccc;
            box-shadow: 0 1px 2px #ccc;
}
.breadcrumb {
    position: relative;
    z-index: 1;
    padding: 4px 12px 0px 12px !important;
    margin: 0px !important;
}
.anchor {
    display: none;
}


/* Other Basic styles
-------------------------------------------------- */
.content p {
    padding: 0 12px;
}
.content pre {
    margin: 6px;
    word-break: normal;
    word-wrap: normal;
    overflow-x: auto;
}
.org-src-container {
    width: 95%;
    margin: auto;
}
.org-src-container > .src {
    margin: 6px auto !important;
    padding: 12px auto !important;
    color: #F6F3E8 !important;
    background-color: #242424 !important;
}
.example {
    width: 95%;
    margin: 6px auto !important;
    padding: 12px auto !important;
    color: #F6F3E8 !important;
    background-color: #242424 !important;
}
.content table {
    margin: 24px;
}
h2 {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #5af;
    margin: 14px auto;
}

h3 {
    border-width: 0px 0px 1px 0px;
    border-style: dashed;
    border-color: #4ae;
    margin: 14px auto;
}

h4 {
    border-width: 0px 0px 1px 0px;
    border-style: dashed;
    border-color: #bf7;
    margin: 14px auto;
}

dt {
    font-weight: normal;
}

dd {
    font-weight: normal;
    margin-left: 20px;
}

strong {
    font-size: 28px;
    line-height: 30px;
    font-weight: normal !important;
}

#gpgkey{
    margin: -15px auto 0px auto !important;
    font-size: 85% !important;
    background: white;
    padding: 2px 4px;
}
/* Fix bootstrap staticlink
-------------------------------------------------- */
*[id]:before {
    display: block;
    content: " ";
    margin-top: -90px;
    height: 90px;
    visibility: hidden;
}
.outline-2 > h2 > a {
    martin-top: -70px;
    padding-top: 70px;
}
