/* table of contents
-------------------------------------------------- */

/* layout
-------------------------------------------------- */
@media (max-width:  767px){
    body {
        overflow-x: hidden
    }
    #toc-wrapper {
        padding-right: 0;
    }
    #toc-wrapper.toggled {
        padding-right: 300px;
    }
    #toc-wrapper.toggled #table-of-contents {
        width: 300px;
    }
    .toc-btn{
        z-index: 200;
        background-color: #2980B9;
        color: #fcfcfc !important;
        text-align: center;
        font-weight: bold;
        font-size: 90%;
        position: fixed;
        top: 80px;
        text-align: center;
        right: 15px;
        display: inline-block;
    }
    .toc-btn.toggled{
        display: none;
    }
    .toc-btn:link {
        color: #fcfcfc !important;
    }
    .toc-btn:active{
        color: #fcfcfc !important;
    }
    .toc-btn:hover{
        color: #fcfcfc !important;
    }
    .toc-btn:visited{
        color: #fcfcfc !important;
    }
    #table-of-contents{
        position:fixed;
        top: 80px;
        right: 300px;
        margin-right: -300px;
        width: 0px ;
        overflow-x:hidden;
        overflow-y:scroll;
        height: 90%;
        height:-moz-calc(100% - 80px);
        height:-webkit-calc(100% - 80px);
        height:calc(100% - 80px);
        background:#343131;
        z-index:200;
        scrollbar-base-color: #1F1D1D;
        scrollbar-arrow-color: #b3b3b3;
        scrollbar-shadow-color: #1F1D1D;
        scrollbar-track-color : #343131;
    }
    .container{
        margin:  0 auto;
    }
    .footer > .container {
        margin:  0 auto !important;
    }
}

@media (min-width:  768px) and (max-width:  991px){
    body {
        overflow-x: hidden
    }
    #toc-wrapper {
        padding-right: 0;
    }
    #toc-wrapper.toggled {
        padding-right: 300px;
    }
    #toc-wrapper.toggled #table-of-contents {
        width: 300px;
    }
    .toc-btn{
        z-index: 200;
        background-color: #2980B9;
        color: #fcfcfc !important;
        text-align: center;
        font-weight: bold;
        font-size: 90%;
        position: fixed;
        top: 80px;
        right: calc( (100% - 750px) / 2 + 15px );
    }
    .toc-btn.toggled{
        display: none;
    }
    .toc-btn:link {
        color: #fcfcfc !important;
    }
    .toc-btn:active{
        color: #fcfcfc !important;
    }
    .toc-btn:hover{
        color: #fcfcfc !important;
    }
    .toc-btn:visited{
        color: #fcfcfc !important;
    }
    #table-of-contents{
        position:fixed;
        top: 80px;
        right: 300px;
        margin-right: -300px;
        width: 0px ;
        overflow-x:hidden;
        overflow-y:scroll;
        height: 90%;
        height:-moz-calc(100% - 80px);
        height:-webkit-calc(100% - 80px);
        height:calc(100% - 80px);
        background:#343131;
        z-index:200;
        scrollbar-base-color: #1F1D1D;
        scrollbar-arrow-color: #b3b3b3;
        scrollbar-shadow-color: #1F1D1D;
        scrollbar-track-color : #343131;
    }
    .container{
        margin:  0 auto;
    }
    .footer > .container {
        margin:  0 auto !important;
    }
}
@media (min-width:  992px) and (max-width:  1199px) {
    .toc-btn{
        display: none;
    }
    #table-of-contents{
        position:fixed;
        top:80px;
        left:0;
        width:  240px;
        margin-right: auto;
        overflow-x:hidden;
        overflow-y:scroll;
        height: 90%;
        height:-moz-calc(100% - 80px);
        height:-webkit-calc(100% - 80px);
        height:calc(100% - 80px);
        background:#343131;
        z-index:200;
        scrollbar-base-color: #1F1D1D;
        scrollbar-arrow-color: #b3b3b3;
        scrollbar-shadow-color: #1F1D1D;
        scrollbar-track-color : #343131;
    }
    .container{
        margin-left:  240px;
        width:  auto;
    }
    .navbar > .container {
        margin:  0 auto !important;
        width:  970px !important;
    }
    .footer > .container {
        margin:  0 auto !important;
        width:  970px !important;
    }
}
@media (min-width:  1200px) {
    .toc-btn{
        display: none;
    }
    #table-of-contents{
        position:fixed;
        top:80px;
        left:0;
        width:  300px;
        margin-right: auto;
        overflow-x:hidden;
        overflow-y:scroll;
        height: 90%;
        height:-moz-calc(100% - 80px);
        height:-webkit-calc(100% - 80px);
        height:calc(100% - 80px);
        background:#343131;
        z-index:200;
        scrollbar-base-color: #1F1D1D;
        scrollbar-arrow-color: #b3b3b3;
        scrollbar-shadow-color: #1F1D1D;
        scrollbar-track-color : #343131;
    }
    .container{
        margin-left:  300px;
        width:  auto;
    }
    .navbar > .container {
        margin:  0 auto !important;
        width:  1170px !important;
    }
    footer > .container {
        margin:  0 auto !important;
        width:  1170px !important;
    }
}

/* style
-------------------------------------------------- */

#table-of-contents li{
    list-style: none;
    margin-left: 0px;
}

#table-of-contents header{
    height: 32px;
    display: inline-block;
    line-height: 32px;
    padding: 0 1.618em;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 80%;
    color: #2980B9;
    white-space: nowrap
}

#table-of-contents ul{
    margin-bottom: 0;
    padding: 0 0 0 12px;
}

#table-of-contents li.divide-top{
    border-top: solid 1px #404040
}

#table-of-contents li.divide-bottom{
    border-bottom: solid 1px #404040
}

#table-of-contents li.current{
    background: #e3e3e3
}

#table-of-contents li.current a{
    color: gray;
    border-right: solid 1px #c9c9c9;
    padding: 0.4045em 2.427em
}

#table-of-contents li.current a:hover{
    background: #d6d6d6
}

#table-of-contents li a{
    padding: 0.4045em 1.618em;
    position: relative;
    border: none;
    padding-left: 1.618em -4px
}

#table-of-contents li.on a:hover,#table-of-contents li.current>a:hover{
    background: #fcfcfc
}

#table-of-contents li ul li a{
    background: #c9c9c9;
    padding: 0.4045em 2.427em
}

#table-of-contents li ul li ul li a{
    padding: 0.4045em 3.236em
}

#table-of-contents li.current ul{
    display: block
}

#table-of-contents .local-toc li ul{
    display: block
}

#table-of-contents li ul li a{
    margin-bottom: 0;
    color: #a3a3a3;
    font-weight: normal
}

#table-of-contents a{
    display: inline-block;
    line-height: 18px;
    padding: 0.4045em 1.618em;
    display: block;
    position: relative;
    font-size: 90%;
    color: #b3b3b3;
    direction:  ltr;
}

#table-of-contents a:hover{
    background-color: #4e4a4a;
    cursor: pointer
}

#table-of-contents h2{
    z-index: 200;
    background-color: #2980B9;
    text-align: center;
    padding: 0.809em;
    display: block;
    color: #fcfcfc;
    font-size:  100%;
    margin-top: 0px;
    margin-bottom: 0.809em;
}
#table-of-contents h2 a{
    font-weight: bold;
    color: #fcfcfc ;
}

#table-of-contents ul.nav li ul li {
    display:  none;
}

#table-of-contents ul.nav li ul li ul li {
    display:  none;
}

#table-of-contents ul.nav li.active ul li {
    display:  inline;
}
#table-of-contents ul.nav li.active > a {
    border-bottom: solid 1px #c9c9c9 !important;
    border-right: solid 1px #c9c9c9 !important;
}
#table-of-contents ul.nav > li.active > a {
    color: black !important;
}
#table-of-contents ul.nav li.active a {
    color: gray !important;
    font-weight: bold;
    background-color:  white;
    border-right: solid 0px white !important;
}

#table-of-contents ul.nav li.active ul li ul li {
    display:  inline;
}
#table-of-contents ul.nav li.active ul li a {
    background-color:  #E3E3E3;
    color:  #8099B0;
    border-right: solid 1px #c9c9c9 !important;
    padding: 5px 12px;
}

#table-of-contents ul.nav li.active ul li.active a {
    background-color:  #C9C9C9;
    color:  black !important;
    font-weight:  bold !important;
}

#table-of-contents ul.nav li.active ul li.active ul li.active a {
    color:  black !important;
    font-weight:  bold !important;
    display:  block !important;
}
#table-of-contents ul.nav li.active ul li.active ul li a {
    color:  #808080 !important;
    font-weight:  normal !important;
    display:  block !important;
}

#table-of-contents ul.nav li.active ul li ul li a {
    display:  none !important;
}
#table-of-contents ul.nav li ul li ul li ul li {
    display:  none !important;
}
