ErrorDocument 404 /member/uwabami/404.html
# TOP
# Redirect 301 /arch/uwabami/index.htmll.ja https://uwabami.github.io/index.html
# Redirect 301 /arch/uwabami/index.htmll.en https://uwabami.github.io/index.en.html
# Redirect 301 /member/uwabami/index.html.ja https://uwabami.github.io/index.html

# /research
# Redirect 301 /member/uwabami/research/index.html.ja https://uwabami.github.io/research/index.html
# Redirect 301 /member/uwabami/research/index.html.en https://uwabami.github.io/research/index.en.html
# Redirect 301 /member/uwabami/research/ https://uwabami.github.io/research/

# /cc-env
# Redirect 301 /member/uwabami/cc-env/JekyllandOrg.html https://uwabami.github.io/cc-env/JekyllandOrg.html
