<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    {% include header.html %}
    <meta name="google-site-verification" content="LjupAvg1-xJJAGIlm9QoG-cAbc5lSxHg0r7Ctudj8bU" />
  </head>
  <body>
    <span id="page-top"></span>
    {% include navbar.html %}
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="page-header col-xs-12">
            {% if page.title == "Top" %}
            <h1>{{ site.title[page.lang] }}</h1>
            {% else %}
            <h1>{{ page.title | escape }}</h1>
            {% endif %}
            {% include breadcrumbs.html %}
          </div>
          <div class="col-sm-12">
            {{ content }}
          </div>
          <a href="#page-top" class="pagetop btn top-btn">Top</a>
        </div> <!-- /.row -->
      </div> <!-- /.content -->
    </div> <!-- /.container -->
    {% include footer.html %}
  </body>
</html>
